<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/login/registerSubmit}" method="post">
    <input type="hidden" name="role" value="ROLE_USER">
    <label>Username: <input type="text" name="username"></label><br>
    <label>Password: <input type="password" name="password"></label><br>
    <label>Year:</label>
    <select name="year">
        <option value="1">1st Year</option>
        <option value="2">2nd Year</option>
        <option value="3">3rd Year</option>
        <option value="4">4th Year</option>
    </select><br>
    <button type="submit">Register</button>

    <a th:href="@{/login/oauth2/authorization/google}"><img src="google-icon.png" alt="or sign in with Google instead"></a>

</form>
</body>
</html>
